@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  min-height: 70vh;
}

body {
  background-color: #007915;
  box-sizing: border-box;

  /* font-family: "Montserrat", sans-serif; */
  /* font-size: 22px; */
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #006000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #006000;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffbb33;
  border-radius: 10px;
  border: none;
}
