.navbar {
  background-color: #006000;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
}

.navbar a:hover {
  color: #999;
}
/* 
.navbar .toggler {
  color: rgb(255, 255, 255) !important;
  border-color: rgb(255, 255, 255) !important;
} */

/* .navbar-toggler-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(9deg)
    brightness(104%) contrast(103%);
} */
