.login {
  display: flex;
  align-items: center;
  height: 200vh;
  color: rgb(0, 0, 0);
  flex-direction: column;
  
}
.button{
  align-items: center;
}
.login p {
    color: rgb(255, 255, 255);
}
.login h1{
  color: white;
}